* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aliceblue;
  box-shadow: 10px 10px 10px black;
  min-width: 700px;
}

header .logo-image img {
  max-width: 100px;
  border-radius: 100px;
  margin: 0.5rem;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.logo-image {
  margin-right: auto;
}

.nav-link {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.about-me {
  margin-right: 3em;
}

.nav-link a {
  text-decoration: none;
  color:cadetblue;
}

.nav-link a:hover {
  color: aquamarine;
  letter-spacing: 1.5em;
  transition: 1s;
}

