* {
  margin: 0;
  padding: 0;
}

:root {
  /* this is root */
  --bg-Color: hsl(32, 32%, 92%);
  --navbg-Color: hsl(31, 33%, 84%);
}

body {
  width: 1920px;
  height: 915px;
  background-color: var(--bg-Color);
}

header {
  /* display: flex; */
  width: 1920px;
  height: 100px;
  box-shadow: 2px 2px 10px black;
  /* align-items: center; */
  background-color: var(--navbg-Color);
}

.navigation {
  height: 100px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
  gap: 10rem;
}

.logo-h1 {
  margin-right: 430px;
  font-size: 2rem ;
}

.nav-link-li {
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-about-link {
  margin-right: 5rem;
}

.nav-links {
  /* li parent is ul this is ul the parent */
  display: flex;
  
}


/* Rule */

/* @media (min-width: 520px) {
  .navigation {
    height: 100px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
  gap: 5rem;
  }
} */