* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  font-size: 16px;
}

/* always 16px font all browser */


header .navigation {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}

.navigation .Logo {
  margin-right: auto;
  font-size: 3rem;
}

header .Main-section .sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  height: 600px;
}

.Main-section .ScentShop {
  font-size: 7rem;
}

.Main-section {
  margin: 35px;
  height: 500px;
  align-content: center;
}

.navigation .nav-link {
  display: flex;
  gap: 2em;

}

.nav-link li a {
  font-size: 1rem;
  color: cadetblue;
  font-size: 1.5rem;

}

.nav-link li {
  padding: 1.2em;
}