* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
}

/* always 16px font all browser */

header {
  height: auto;
}

header .navigation {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}

.navigation .Logo {
  margin-right: auto;
  font-size: 3rem;
}

header .Main-section .sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 500px;
}

.Main-section .ScentShop {
  font-size: 7rem;
}

.Main-section {
  margin: 40px;
  height: 500px;
  align-content: center;
}