* {
  margin: 0;
  padding: 0;
}

:root {
  /* this is root */
  --bg-Color: hsl(32,32,92);
}

body {
  width: 1920px;
  height: 915px;
}

header {
  display: flex;
  width: 1920px;
  height: 100px;
  box-shadow: 2px 2px 10px black;
  align-items: center;
}

.navigation {
  display: flex;
}

.nav-links {
  /* li parent is ul this is ul the parent */
  display: flex;
  
}

