/* Import Font Here */






.main-Conformation {
  border: 1px solid black;

  height: 70vh;
}

/* report-missing */

.nav-Conformation {
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  height: 10vh;
  

}

/* table-Section */
.table-Section {
  border: 1px solid black;


}