* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
}

.main-1 {
  height: auto;
  width: 98vw;
  margin: 0.5rem;
  border: 0.1rem solid black;
  
}

.div-parent {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  flex-wrap: wrap;
}

.div-number {
  border: 0.1rem solid red;
  width: 9.5rem;
  height: 3.8rem;
  text-align: center;
}