* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.Parent-1 {
  border: 1px solid black;
  font-size: 32px;
}

.Parent-2 {
  border: 1px solid black;
  font-size: 32px;
}

