* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
}

html {
  /* root for sizing */
  font-size: 30px;
}


.parent-container {
  border: 1px solid black;
  display: flex;
  height: 40vh;
  width: 40vw;
  margin: 5rem;
  /* flex-direction: row;
  flex-wrap: wrap-reverse; */
  justify-content:space-evenly;
  flex-flow: row wrap-reverse;
}

.divs {
  border: 1px solid red;
  width: 4em;
  height: 4em;
  padding: 0.4em;
}

.div-1 {
  background-color: antiquewhite;
}
.div-2 {
  background-color:bisque;
}
.div-3 {
  background-color:beige;
}
.div-4 {
  background-color:blanchedalmond;
}